{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<link rel="stylesheet" href="{% static 'store/sell_success.css' %}">

<button class="btn blue">
    <a href="{% url 'home' %}">رجوع إلى الصفحة الرئيسية</a>
</button>
<button class="btn green">
    <a href={% url 'print_receipt' serial_number %}>
        طباعة الفاتورة
    </a>
</button>

<div class="container">
    <h2>فاتورة شراء</h2>
    <hr>
    <div class="bill-details">
    <p class="serial-number"><strong>رقم الفاتورة : </strong>{{ serial_number }} #</p>
    <p class="bill-date"><strong>التاريخ : </strong> {% now "d/m/Y" %}</p>
    <p class="bill-time"><strong>الساعة : </strong> {% now "g:i A" %}</p>
</div>

    <table>
        <thead>
            <tr>
                <th>المنتج</th>
                <th>الكمية</th>
                <th>السعر SYP</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart %}
            <tr>
                <td>{{ item.productName }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.totalSypPrice|floatformat:0|intcomma }}</td>
        </tr>
        {% endfor %}
        <tr class="total-row">
            <td colspan="2" style="text-align:center"><strong>المجموع الكلي</strong></td>
            <td><strong>{{payablePrice|intcomma}}</strong></td>
        </tr>
    </tbody>
</table>
</div>


{% endblock %}