/* General Container */
.content-container {
  display: flex;
  width: 100%;
  height: 100vh;
}

/* Right Column - Product Form */
.right-column {
  width: 50%;
  padding: 20px;
}

.product-form {
  max-width: 400px;
  margin: 0 auto;
}

.block-label {
  display: block;
  margin-bottom: 5px;
}

.details-container {
  background-color: #f0f0f0;
  padding: 5px;
  border-radius: 4px;
  margin-bottom: 5px;
}

/* Left Column - Cart List */
.left-column {
  width: 50%;
  padding: 20px;
}

.cart-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  text-align: center;
}

.cart-table th,
.cart-table td {
  padding: 10px;
  border: 1px solid #ddd;
}

.cart-table th {
  background-color: #f2f2f2;
}

.cart-summary {
  background-color: #f0f0f0;
  padding: 15px;
  border-radius: 4px;
  margin-bottom: 20px;
}

.cart-summary p {
  margin: 0 0 10px;
}

p {
  margin: 8px;
}


/* Media Queries for Responsive Design */

/* For tablets and smaller devices */
@media (max-width: 768px) {
  .content-container {
    flex-direction: column;
  }

  .right-column,
  .left-column {
    width: 100%;
    padding: 10px;
  }

  .product-form {
    max-width: 100%;
  }

  .cart-table {
    font-size: 14px;
  }

  .cart-table th,
  .cart-table td {
    padding: 8px;
  }
}

/* For mobile phones */
@media (max-width: 480px) {
  .content-container {
    height: auto;
  }

  .right-column,
  .left-column {
    padding: 5px;
  }

  .cart-table {
    font-size: 12px;
  }

  .cart-table th,
  .cart-table td {
    padding: 5px;
  }

  .cart-summary {
    padding: 10px;
  }

  .cart-summary p {
    margin: 0 0 5px;
  }

  p {
    margin: 5px;
  }
}


#product_quantity {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #333333ff;
  border-radius: 50px;
  min-width: 25px;
  height: 25px;
  padding: 0 8px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  margin: 0 2px;
}