{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}store management app{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
  <link rel="icon" href="{% static 'favicon.ico' %}">

  {% block css-files %}{% endblock %}
</head>
<body>
  <header>  
    <div class="logo">
      <a href="{% url 'home' %}">
        {% comment %} <img src="{% static 'images/logo.png' %}" alt="Logo"> {% endcomment %}
        <h2 class="text-logo">
          POS
        </h2>
      </a>
    </div>
    <nav>
      <ul>
        <li>
          <a href="{% url 'home' %}" 
             class="{% if request.resolver_match.url_name == 'product_list' or request.resolver_match.url_name == 'home' or request.resolver_match.url_name == 'product_detail' %}active{% endif %}">
             <img src="{% static 'icons/goods_icon.svg' %}" width="24" height="24" alt="Warehouse Icon">
             البضائع
          </a>
        </li>
        <li>
          <a href="{% url 'add_product' %}" 
             class="{% if request.resolver_match.url_name == 'add_product' %}active{% endif %}">
             <img src="{% static 'icons/add_icon_2.svg' %}" width="24" height="24" alt="Add Product Icon">
            إضافة مواد
          </a>
        </li>
        <li>
          <a href="{% url 'sell_product' %}" 
             class="{% if request.resolver_match.url_name == 'sell_product' %}active{% endif %}">
             <img src="{% static 'icons/cart_icon.svg' %}" width="24" height="24" alt="Sell Product Icon">
            بيع مواد
          </a>
        </li>
        <li>
          <a href="{% url 'list_sales' %}" 
          class="{% if request.resolver_match.url_name == 'list_sales' or request.resolver_match.url_name == 'sale_detail' %}active{% endif %}">
          <img src="{% static 'icons/sales_icon_2.svg' %}" width="24" height="24" alt="Sales Icon">
            المبيعات
          </a>
        </li>
        <li>
          <a href="{% url 'settings' %}" 
             class="{% if request.resolver_match.url_name == 'settings' %}active{% endif %}">
             <img src="{% static 'icons/settings_icon.svg' %}" width="24" height="24" alt="Settings Icon">
            الإعدادات
          </a>
        </li>
      </ul>
    </nav>
  </header>
  
  <main>
    {% block content %}{% endblock %}
  </main>
</body>
</html>